.canvas {
    width: 600px;
    height: 600px;
    /* background-color: aqua; */
    position: relative;
}

.toolbox {
    width: 300px;
    height: 600px;
    background-color: blueviolet;
}

.small {
    font: italic 13px sans-serif;
}

.heavy {
    font: bold 30px sans-serif;
}

.fancy {
    font: italic 40px serif;
    fill: red;
}